main{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
section{
    background-color: rgb(221, 221, 221);
    padding: 20px;
}
.figure{
    width: 100px;
    height: 100px;
    border: 5px solid black;
    margin: 10px auto;
}
.figure.triangle{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 100px solid black;
}
.figure.circle{
    border-radius: 100%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:720px) {
    main{
        flex-direction: column;
        gap: 10px;
    }
}